---
http_interactions:
- request:
    method: post
    uri: http://gear.loc/gateways/c2809c9fd3465529d2946fb8299450b4f46b24fc40f0e3a641e7e19cd75a3adb/orders
    body:
      encoding: UTF-8
      string: '{"amount":"0.1E-1","callback_data":"123","keychain_id":1,"signature":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
    body:
      encoding: UTF-8
      string: 'Invalid signature for id: '
  recorded_at: Wed, 10 Jun 2015 13:01:45 GMT
recorded_with: VCR 2.9.3
